#main {
  padding: 1rem;
}
.ace_editor {
  height: 200px;
}
.scrollable-table > .ui.table,
.scrollable-table > table {
  border-bottom: 0;
}
.scrollable-table > div {
  outline: 1px solid #d0d0d0;
  overflow-y: scroll;
  max-height: 200px;
}
.scrollable-table > div > .ui.table,
.scrollable-table > div > table {
  border-top: 0;
  border-bottom: 0;
}
.console {
  position: relative;
}
.console .clear-log {
  position: absolute;
  letter-spacing: 0px;
  font-size: 0.8rem;
  text-transform: uppercase;
  bottom: 10px;
  right: 10px;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.4s;
  color: #fff;
}
.console .clear-log:hover {
  opacity: 1;
}
.console-output {
  border-radius: 5px;
  -webkit-box-shadow: inset -6px 35px 13px -27px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset -6px 35px 13px -27px rgba(0, 0, 0, 0.5);
  box-shadow: inset -6px 35px 13px -27px rgba(0, 0, 0, 0.5);
  outline: 1px solid #d0d0d0;
  height: 200px;
  overflow-y: scroll;
  background: #2B2B2B;
  color: #fff;
  font-size: 0.84rem;
}
.console-output.images {
  box-sizing: border-box;
}
.console-output.images .output-row {
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid #333;
  padding-left: 10px;
}
.console-output.images .output-row:before,
.console-output.images .output-row:after {
  content: " ";
  display: table;
}
.console-output.images .output-row:after {
  clear: both;
}
.console-output.images .output-row .image-id {
  color: #89c0ee;
  padding: 3px;
  background: #000;
}
.console-output.images .output-row .left {
  box-sizing: border-box;
  float: left;
  width: 30%;
  padding-right: 10px;
}
.console-output.images .output-row .right {
  float: left;
  width: 70%;
}
