
<h3 class="ui header top attached">Add New Connection</h3>

<form role="form" class="ui form attached segment">
	<div class="field">
	<div class="ui input">
	<label for="connectionName">Name</label>
	<input type="text" class="form-control" id="connectionName" placeholder="Name" ng-model="newConnection.name">
	</div>
	</div>

	<div class="field">
	<div class="ui input">
	<label for="connectionHost">Host</label>
	<input type="text" class="form-control" id="connectionHost" placeholder="Host" ng-model="newConnection.config.host">
	</div>
	</div>

	<div class="field">
	<div class="ui input">
	<label for="connectionPort">Port</label>
	<input type="text" class="form-control" id="connectionPort" placeholder="Port" ng-model="newConnection.config.port">
	</div>
	</div>

	<div class="field">
	<div class="ui input">
	<label for="connectionProtocol">Protocol</label>
	<input type="text" class="form-control" id="connectionProtocol" placeholder="Protocol" ng-model="newConnection.config.protocol">
	</div>
	</div>

	<div class="field">
	<div class="ui input">
	<label for="connectionPort">Certificate</label>
	<input type="text" class="form-control" id="connectionPort" placeholder="Certificate" ng-model="newConnection.config.cert">
	</div>
	</div>

	<div class="field">
	<div class="ui input">
	<label for="connectionPort">CA</label>
	<input type="text" class="form-control" id="connectionPort" placeholder="CA" ng-model="newConnection.config.ca">
	</div>
	</div>

	<div class="field">
	<div class="ui input">
	<label for="connectionPort">Key</label>
	<input type="text" class="form-control" id="connectionPort" placeholder="Key" ng-model="newConnection.config.key">
	</div>
	</div>

	<button type="submit" class="ui button green" ng-click="saveConnection()">Save Connection</button>
	<button type="submit" class="ui button" ui-sref="connections.list">Cancel</button>
</form>