<div id="main">
	<div class="ui grid">
		<div class="row">
			<div class="ui four wide column">
				  <button type="button" class="ui button fluid" ui-sref="connections.list" ng-class="{connections.list: 'active'}[currentTab]">Connections</button>
			</div>

			<div class="ui twelve wide column">
				<div class="ui button fluid blue">Connected to "{{connection.name}}"</div>
			</div>
		</div>

		<div class="row">
			<div class="ui four wide column">
				<div id="sidebar" class="ui fluid vertical menu">
					  <a class="item" ui-sref="connected.stacks">
					  	<i class="list layout icon"></i>
					  	Stacks
					  </a>
					  <a class="item" ui-sref="connected.containers">
					  	<i class="inbox icon"></i>
					  	Containers
					  </a>
					  <a class="item" ui-sref="connected.images">
					  	<i class="archive icon"></i>
					  	Images
					  </a>
					  <a class="item" ui-sref="connected.dockerfiles">
					  	<i class="text file icon"></i>
					  	Dockerfiles
					  </a>
				</div>
			</div>

			<div class="ui twelve wide column">
				<div ui-view=""></div>
			</div>
		</div>

	</div>
</div>
